<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth Login</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static "home/favicon.ico" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap.min.css' %}">
    <script src="{% static 'home/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'home/popper.min.js' %}"></script>
    <script src="{% static 'home/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container text-center">
    <h1>Auth Login</h1>
</div>
<hr>

<div class="container text-center">
    <input id="input-secret" type="text" placeholder="secret key">
    <button id="btn-login" class="btn btn-primary">Login</button>
</div>

</body>
</html>


<script>
    $('#btn-login').on('click', function () {
        let secret = $('#input-secret').val();
        $.ajax({
            url: "/ajax-login",
            method: "POST",
            data: {'secret': secret},
            success: function (response, status, xhr) {
                $(this).attr('disabled', false);
                if (response !== 'ok') {
                    alert(response);
                    return;
                }
                window.location.reload();
            },
            error: function(jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            }
        })
    })
</script>

