<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tools</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static "home/favicon.ico" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap.min.css' %}">
    <script src="{% static 'home/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'home/popper.min.js' %}"></script>
    <script src="{% static 'home/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container text-center">
    <h1>Tools</h1>
</div>
<hr>

<div class="container">
    <a href="/page/tool/speech2text" class="btn btn-lg btn-primary">Speech to Text</a>
    <a href="/page/tool/words" class="btn btn-lg btn-primary" style="margin-left: 20px">Words Tool</a>
    <a href="/page/tool/detect" class="btn btn-lg btn-primary" style="margin-left: 20px">Detect Tool</a>
</div>

</body>
</html>